<footer class="FooterContainer">
  <div class="DescriptionFooter">
    <span class="InfoArcsa">ARCSA Servicios S.A. de C.V.</span>
    <span class="InfoArcsa">
      Patricio Sanz 1609 Torre B 5to. piso 
      Col. Del Valle, CDMX. México cp 03100 
      Teléfonos: 5278 6230 |
      Del interior: 01 800 8227 699
    </span>
  </div>
  <hr>
    <div class="ContainerCopyright">
        <span class="CopyrightFooter">Todos los derechos reservados © 2015 
        Aviso de privacidad</span>
    </div>
</footer>
