<section class="ListContainer">

  <div class="FilterContainer">
    <div class="ButtonFilter">

      <button type="" class="FilterListButton">Todos</button>
      <button type="" class="FilterListButton">Hombres</button>
      <button type="" class="FilterListButton">Mujeres</button>
      <button type="" class="FilterListButton">No Binarias</button>

    </div>

    <div class="TableList">
      <table>
        <tr>
          <th>Nombre</th>
        </tr>

        <tr>
          <td>Josue artinez Garcia</td>
          <button class="EditButton">Editar</button>
        </tr>

        <tr>
          <td>Rosa Aburto Calderon</td>
          <button class="EditButton">Editar</button>
        </tr>
      </table>
    </div>

  </div>

</section>
