<section class="FormEditContainer">
  <div class="ContainerEdit">
    <div class="InputsEdit">
      <input type="text" name="" value="" placeholder="Nombre">
      <input type="number" name="" value="" placeholder="Edad">

      <div class="RadioContainer">
      <input type="radio" name="hm" value="">Hombre
      <input type="radio" name="hm" value="">Mujer
    </div>
    </div>
    
    <div class="GenerateCodeContainer">
      <textarea class="AreaCodigo" rows="1" cols="0" placeholder="Codigo"></textarea>
      <button class="ButtonGenerate" type="">Generar Codigo</button>

    </div>

  </div>

  <div class="ButtonsContainerUD">
      <button class="ButtonUD" type="">Actualizar</button>
      <button class="ButtonUD" type="">Eliminar</button>

    </div>
</section>
