<div class="AdminContainer">
  <div class="ContentAdmin">

    <div class="AdminDetails">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Vel voluptas tenetur cum alias nulla.
      Eos molestiae eveniet dicta sed ipsam adipisci ex in veniam aliquam
      corporis vel repellat facilis amet culpa aliquid necessitatibus, nemo
      animi iure sunt saepe laudantium explicabo rem ut? Perspiciatis nam qui
      quam nostrum consequatur at fugit rem eos minus molestiae.
      Impedit recusandae officiis delectus repudiandae est?
    </div>
    <div class="AdminInfo">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. A nulla sint illo
      necessitatibus ab facere, saepe quisquam porro neque consequuntur, ratione
      voluptatem voluptates delectus quas praesentium laboriosam quibusdam! Ullam,
      officia omnis adipisci quidem dolores officiis? Hic officia voluptatum dolores
      ad commodi! Fuga minima, impedit vero dolor mollitia eligendi modi quas dolorum.
      Quam vero possimus fuga excepturi facere quia rem molestias a, molestiae animi!
      Sed architecto fugit corporis totam expedita corrupti, eaque perferendis modi necessitatibus
      error porro! Aspernatur perspiciatis cupiditate odio accusamus saepe quas quaerat amet molestias,
      magnam mollitia voluptatem commodi.

    </div>

  </div>
</div>
