<section class="CrearContainer">
  <form class="FormContainer">
    <div class="CrearInputsContainer">
      <div class="InfoFormContainer">
        <input class="InputCrearForm" type="text" name="Cinfo" value="name" placeholder="Nombre">
        <input class="InputCrearForm" type="number" name="Cinfo" value="age" placeholder="Edad">
      </div>

      <div class="RadioFormContainer">
        <input type="radio" name="hm" value="h">Hombre
        <input type="radio" name="hm" value="m">Mujer
      </div>

      <button class="ButtonSaveCrear" type="submmit">Guardar</button>
    </div>
  </form>
</section>
